.clear{
 clear:both;
 margin-top: 20px;
}

#searchResult{
 list-style: none;
 padding: 0px;
 width: 250px;
 position: absolute;
 margin: 0;
}

#searchResult li{
 background: lavender;
 padding: 4px;
 margin-bottom: 1px;
}

#searchResult li:nth-child(even){
 background: cadetblue;
 color: black;
}

#searchResult li:hover{
 cursor: pointer;
}

.in input[type=text]{
 padding: 5px;
 width: 250px;
 letter-spacing: 1px;
}